/*----------------Header CSS ---------------------*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
   
  }
  body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right,black,black,darkblue,maroon,black,black);
  }
  body.lightPlayer{
    background: linear-gradient(to right,black,darkblue,lightgreen,maroon,black);
    transition: 1s;
  }
  header {
        width: 100%;
        text-align: center;
        border-radius: 20px;
        background: linear-gradient(to right,black,black,darkblue,maroon,black,black);
        
    }

    body.lightPlayer header{
      background-image: linear-gradient(to right,black,darkblue,lightgreen,maroon,black);
    }
    
    nav{
      justify-content: space-between;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    
    .nav-links{
      flex: 1;
      text-align: center;
      color: white;
    }
    
    .nav-links ul li{
      list-style: none;
      display: inline-block;
      position: relative;
    }
    .nav-links ul li a{
      color: #fff;
      text-decoration: none;
    
    }
    
    .nav-links ul li::after{
      content: '';
      width: 0%;
      height: 2px;
      background: #3085C3;
      display: block;
      margin: auto;
      transition: 0.5s;
    }
    .nav-links ul li:hover::after{
      width: 100%;
    }

    #current-weather{
      margin: 0% auto;
      flex-direction: column;
      background-color: rgba(0, 0, 139, 0.336);
      border: 6px solid rgb(167, 20, 81);
      box-shadow: 0px 2px 15px lightskyblue;
      border-radius: 45px;
      height: auto;
      width: 95%;
      padding-left: 10px;
      padding-right: 10px;
      justify-content: center;
      text-align: center;
      align-items: center;
      margin-bottom: 60px;
     
    }
    body.lightPlayer #current-weather{
      box-shadow: 0px 2px 15px gold;
    }
   .weather-card {
     margin: 0% auto;
     background-color: #ffffff88;
     border-radius: 20px;
     padding: 1%;
     display: block;
     width: 98%;
     align-items: center;
     border: 2px solid rgb(0, 134, 139);
     margin-bottom: 5px;
     box-shadow: 0px 3px 8px darkgray;
     transition: transform 0.3s ease-in-out;
     cursor: pointer;
    
   }
   .h3{
    color: darkgray;
    font-size: 20px;
    text-shadow: 2px 2px 2px darkblue;
   }
   .h3 ion-icon{
    color: wheat;
   } 
   body.lightPlayer .h3 ion-icon{
    color: rgba(255, 217, 0, 0.616);
   }
    .title{
        margin: 0 auto;
        font-size: 40px;
        text-align: center;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-shadow: 2px 2px 4px darkblue;
        border-radius: 100%;
        letter-spacing: 2px;
        cursor: pointer;
      
    }
    body.lightPlayer .title{
      color: white;
      text-shadow: 2px 2px 4px gold;
    }
    .timeLbl {
        font-size: 30px; 
        font-weight: bold;
        background-color: rgba(0, 0, 139, 0.253);
        border-radius: 15px;
        border-bottom: 2px solid wheat;
      }
     
      #location-input {
        font-size: 20px;
        margin-top: 10px;
        text-align: center;
        padding: 2px;
        width: 60%;
        border: 2px solid rgba(240, 21, 156, 0.575);
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.178);
        box-shadow: 0px 2px 10px black;
        color: whitesmoke;  
        text-shadow: 1px 1px 2px gold; 
        
    }
    body.lightPlayer #location-input{
      border: 2px solid rgba(255, 217, 0, 0.61);
      background-color: rgba(236, 235, 236, 0.418);
      color: black;  
      text-shadow: 1px 1px 1px wheat; 
    }
    
    
    #search-button {
        background-color: #007bffa2;
        color: #fff;
        padding: 10px 20px;
        margin: 10px;
        border: none;
        border: 1px solid gold;
        border-radius: 10px;
        cursor: pointer;
    }
    body.lightPlayer #search-button{
      background-color: #007bffa2;
      box-shadow: 0px 2px 4px darkgray;
    }
    .heders{
      margin: 0% auto;
      width: 70%;
      margin-top: 10px;
      margin-bottom: 5px;
      font-size: 25px;
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.596);
      color: #fff;
      padding: 5px;
      border-radius: 15px;
      text-align: center;
    }
    
    /* --------------------------------Current Weather card-------------------------------------- */
   
    
    .weather-card:hover {
      transform: scale(1.02);
    }
    
    .weather-info {
      margin: 0% auto;
      flex: 1;
      margin-right: 20px;
      background-color: transparent;
      border-radius: 15px;
    }
    
    .location {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
    }
    
    .temperature {
      font-size: 2rem;
      font-weight: bold;
      margin: 10px 0;
    }
    
    .description {
      font-size: 1.5rem;
      margin: 0;
    }
    
    .weather-icon img {
      width: 100px;
      height: 100px;
      padding: 5px;
      border-radius: 20px;
      border: 2px solid rgba(196, 4, 154, 0.548);
      box-shadow: 0px 2px 10px black;
      margin-bottom: 5px;
    }
    body.lightPlayer .weather-icon img{
      border: 2px solid rgba(255, 217, 0, 0.781);
    }
    
    .tblW{
      width: 100%;
      
    }

    .tblW td{
      text-align: center;
      border: 2px solid rgba(240, 21, 156, 0.575);
      padding: 10px;
      background-color: #333;
      color: #fff;  
      transition: transform 0.3s ease-in-out;
      border-radius: 5px;
    }
    body.lightPlayer .tblW td{
      border: 2px solid rgba(255, 217, 0, 0.541);
    }
    
    /* -----------------------------------------------------------------Weather Forecast------------------------------------------------------- */
    .tblForcast{
      width: 100%;
    }
    
    .img{
      width: 70%;
    
    }

    
    #weather-forecast {
        background-color: #fff;
        margin: 20px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
       
    }
    
    
    
    #weather-map {
        background-color: #fff;
        margin: 20px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    
    .map-d {
      width: 100%;
      height: 400px;
      border: 1px solid rgb(255, 255, 255);
    }
    
  
  
    .homebtn{
      margin: 0% auto;
      position: relative;
      background-image: url(MusicGig.gif);
      background-position: center;
      background-size: 10%;
      width: 80px;
      text-align: center;
      box-shadow: 2px 1px 0px darkblue;
      border-radius: 25px;
      margin-right: 5px;
      display: inline-block;
      justify-content: center;
      align-items: center;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      top: 10px;
      transition: 1s ease-in-out;

    }
    body.lightPlayer .homebtn{
      background-image: url(MusicGig.gif);
      background-position: center;
      background-size: 95%;
      
    }
    .homebtn ion-icon{
      color: rgba(245, 222, 179, 0.699);
      font-size: 25px;
      
    }
    body.lightPlayer .homebtn ion-icon{
      color: rgba(255, 217, 0, 0.664);
    }
    
    .homebtn:hover{
      box-shadow: 0px 2px 20px gold;
    }
    .homebtn ion-icon:hover{
      color: gold;
    }
    
    nav{
      margin: 0% auto;
      position: relative; 
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }

    footer{
      margin: 0% auto;
      flex-direction: column;
      bottom: 0;
      left: 0;
      position: fixed;
      align-items: center;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      color: rgb(48, 47, 47);
    
       }
       footer p{
        width: 200px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.062);
        padding: 5px;
        border-radius: 20px;
       }
       footer ion-icon{
        color: rgba(255, 217, 0, 0.411);
       }

       .back-btn{
        margin: 0% auto;
        position: fixed;
        left: 5px;
        bottom: 0px;
        border-bottom: 1px solid gold;
        box-shadow: 0px 2px 6px blue;
        background-image: url(MusicGig.gif);
        background-position: center;
        background-size: 100%;
        border-radius: 7px;
        width: 50px;
        display: flex;
        justify-content: center;
        padding: 2px 0px;
        opacity: 80%;
        margin-bottom: 5px;
        cursor: pointer;
      
      }
      .back-btn ion-icon{
        margin: 0% auto;
        color: rgba(255, 217, 0, 0.568);
        justify-content: center;
        font-size: 25px;
        display: flex;
        align-items: center;
        
      }
      .back-btn ion-icon:hover{
        color: gold;
      }
      .back-btn:hover{
        color: gold;
        transition: color 0.5s ease;
        box-shadow: 2px 2px 20px gold;
        transform: scale(1.10);
        transition: 0.5s;
        cursor: pointer;
      
      }
  
    @media (min-width: 768px) {
    #current-weather{
      margin: 0% auto;
      padding: 15px;
      background-color: rgba(0, 0, 139, 0.336);
      border-radius: 50px;
      box-shadow: 0px 2px 15px lightskyblue;
      height: auto;
      width: 650px;
      justify-content: center;
      text-align: center;
      align-items: center;
      border: 6px solid rgb(167, 20, 81);
      margin-bottom: 60px;
      margin-top: -35px;
     
     }
     body.lightPlayer #current-weather{
      box-shadow: 0px 2px 15px gold;
    }
     .weather-card {
      margin: 0% auto;
       background-color: #ffffffa8;
       border-radius: 15px;
       padding: 1%;
       display: flex;
       width: 100%;
       align-items: center;
       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
       transition: transform 0.3s ease-in-out;
       margin-bottom: 5px;
       box-shadow: 0px 3px 8px darkgray;
     }

     .temperature {
      font-size: 2.5rem;
      font-weight: bold;
      margin: 10px 0;
    }
    
    .description {
      font-size: 1.5rem;
      margin: 0;
    }
    
    .weather-icon img {
      width: 150px;
      height: 150px;
      padding: 5px;
      border-radius: 20px;
      margin-top: 5px;
      
    }
    .timeLbl {
      font-size: 2.5rem; 
      font-weight: bold;
      border-radius: 10px;
      padding: 5px;
     
    }
    .homebtn{
      position: relative;
      top: 42px;
      left: 120px;
    }
    .title{
      padding: 0px 10px;
      text-align: left;
    }
  
  }